$max-width: 1200px;
$breakpoint: 769px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Serif JP', serif;
}

body {
  position: relative;
  padding-bottom: 45px;
  min-height: 100vh;
  font-size: 1.6rem;
}