$max-width: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Serif JP', serif;
}

body {
  padding-bottom: 45px;
  min-height: 100vh;
  font-size: 1.6rem;
}