.activities-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities {
  margin-bottom: 20px;
  width: 45%;
}

.activities a {
  color: #000;
  text-decoration: none;
}

.activities-title {
  margin-bottom: 10px;
}

.activities-content {
  width: 100%;
  max-width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  border: 1px solid #000;
  background-color: #eee;
  object-fit: contain;
}

@media screen and (max-width: $breakpoint) {
  .activities-box {
    display: block;
  }

  .activities {
    width: 100%
  }
}